@page
@model Crud.Pages.LogoutModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url=/Index" />
</head>
<body>
    <p>Logging out...</p>
</body>
</html>
